{% import "@ElKuKuG11n/_macro/g11n.html.twig" as g11n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <div>{{ g11n.switcher(getLangs(), getCurrentLang()) }}</div>

    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
